{# templates/account.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<section class="card">
	<h1>Informations personnelles</h1>
	<div class="background-image-profile">
		<img id="image-profile" src="{{ asset('images/svg/profile.svg') }}" alt="Photo de profil de l'utilisateur">
	</div>
	<form method="post" action="{{ path('account') }}">
		{{ form_row(form_account_updated.prenom) }}
		{{ form_row(form_account_updated.nom) }}
		<label for="email">email</label>
		{{ form_row(form_account_updated.adresse) }}
    	<button type="submit">Modifier</button>
	</form>
</section>
<section class="card">
	<h2>Informations entreprise</h2>
	<form>
		<label for="address-entreprise">Adresse postale entreprise</label>
		<input type="text" id="address-entreprise" name="address-entreprise">
		<label for="siret">SIRET</label>
		<input type="text" id="siret" name="siret">
		<button>Modifier</button>
	</form>
</section>
<section class="card">
	<h2>Mon stockage</h2>
	<progress id="stockage-value" max="100" value="10">10%</progress>
	<span>2Go utilisés sur 20Go</span>
	<div class="flex-row">
		<button>Acheter</button>
		<button>Voir mes fichiers</button>
	</div>
</section>

{% endblock %}