{# templates/components/header.html.twig #}
<header id="main-header">
    <a  class="title" href="{{path('homepage')}}">MyDrive</a>
    <div id="container-icon-profile">
        <input type="checkbox" id="show-menu" class="show-input">
        <label id="label-show-menu" for="show-menu">
            <div id="background-icon-profile">
                <img id="icon-profile" src="{{ asset('images/svg/profile.svg') }}" alt="Photo de profil de l'utilisateur">
            </div>
        </label>
        <nav id="nav-profile">
            <a href="{{ is_granted('IS_AUTHENTICATED_FULLY') ? path('account') : '#' }}" id="header-profile-name">
                <span>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        {{ app.user.email }}
                    {% else %}
                         <a href="{{path('app_login')}}">Connectez-vous</a>
                    {% endif %}
                </span>
            </a>
            <ul>
                {% if app.user %}
                    <li>
                        <a href="{{ is_granted('ROLE_USER') ? path('account') : '#'   }}">
                            Mon compte
                        </a>
                    </li>
                    <li>
                        <a href="{{ is_granted('ROLE_USER') ? path('app_dashboard') : '#'   }}">
                            Mes fichiers
                        </a>
                    </li>
                    <li {{is_granted('IS_AUTHENTICATED_FULLY')}}>
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
